# Environments
.venv
venv/

# Idea
.idea

# external_data
data/external_data/

# internal_data
data/internal_data/

# indices
data/indices/

# hidden_layers
data/hidden_layers/

# results/abs_classifiers
results/abs_classifiers/

# results/diagnostic_classifiers
results/diagnostic_classifiers/

# results/local_interpretable_models
results/local_interpretable_models/

# results/sentence_explanations
results/sentence_explanations/

# diagnostic_classifier/model_savings
diagnostic_classifier/model_savings/

# abs_classifiers/model_savings
abs_classifiers/model_savings/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# klad_file.py
klad_file.py