# Environments
.venv
venv/

# Idea
.idea

# external_data
data/external_data/

# internal_data
data/internal_data/

# model_savings
data/model_savings/

# results/abs_classifiers
results/abs_classifiers/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class